.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  -webkit-box-shadow: 0px 7px 46px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 46px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 46px 1px rgba(0, 0, 0, 0.75);
}
.nav {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}
.navigation li {
  list-style: none;
  text-align: right;
  margin-left: 30px;
  margin-right: 30px;
  transition: 0.3s linear;
}
.navigation li:hover {
  color: rgb(0, 58, 132);
}

.navigation a {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s linear;
  white-space: nowrap;
}
.mobileNavigation a {
  color: rgb(22, 22, 22);
  font-size: 14px;
  font-weight: 560;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.1s linear;
  white-space: nowrap;
}
.mobileNavigation li {
  list-style: none;
  text-align: center;
  transition: 0.3s linear;
  margin-top: 30px;
}

.mobileNavigation li:hover {
  color: rgb(0, 82, 188);
  transform: scale(1.1);
}

.navigation li:hover {
  color: rgb(0, 58, 132);
  transform: scale(1.1);
}

.active {
  background-color: rgb(148, 162, 181);
  padding: 2px 5px;
  border-radius: 8px;
}

.footer {
  background: #073856;
  padding: 100px 0 20px 0;
}
.footerContent {
  padding-bottom: 80px;
}
.addressList {
  list-style-type: none;
}
.socialList {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.addressList li {
  margin-top: 18px;
}
.addressList a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
.addressList a:hover {
  color: rgb(164, 176, 193);
  transform: scale(1.1);
}
.socialList li {
  list-style-type: none;
  padding: 8px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.socialList li:hover {
  background: rgba(255, 255, 255, 0.292);
}
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerContent img {
  cursor: pointer;
}
.reserved {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: left;
}
.nav img {
  cursor: pointer;
}
/* nav */

.burger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileNavigation {
  display: none;
}
@media (max-width: 768px) {
  .extraClass {
    background: #085e7a;
    color: white;
  }
  .navigation {
    display: none;
  }
  .headerClass {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .burger {
    display: block;
  }
  .nav {
    width: 100%;
    padding: 12px 16px;
  }
  .mobileNavigation {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    flex-direction: column;
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: block;
    height: 100%;
    top: 0;
    z-index: 99999;
  }
  .mobileNavigation.open {
    transform: translateX(0);
  }
  .burger.open {
    transform: translateX(0);
    margin-right: 320px;
  }

  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .reserved {
    text-align: center;
  }
}
