.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
  -webkit-box-shadow: 0px 7px 46px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 46px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 46px 1px rgba(0, 0, 0, 0.75);
}
.nav {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}
.navigation li {
  list-style: none;
  text-align: right;
  margin-left: 30px;
  margin-right: 30px;
  transition: 0.3s linear;
}
.navigation li:hover {
  color: rgb(0, 58, 132);
}

.navigation a {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s linear;
  white-space: nowrap;
}

.navigation li:hover {
  color: rgb(0, 58, 132);
  transform: scale(1.1);
}

.active {
  background-color: rgb(148, 162, 181);
  padding: 2px 5px;
  border-radius: 8px;
}

.footer {
  background: #073856;
  padding: 100px 0 20px 0;
}
.footerContent {
  padding-bottom: 80px;
}
.addressList {
  list-style-type: none;
}
.socialList {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.addressList li {
  margin-top: 18px;
}
.addressList a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
.addressList a:hover {
  color: rgb(164, 176, 193);
  transform: scale(1.1);
}
.socialList li {
  list-style-type: none;
  padding: 8px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.socialList li:hover {
  background: rgba(255, 255, 255, 0.292);
}
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerContent img {
  cursor: pointer;
}
.reserved {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: left;
}
.nav img {
  cursor: pointer;
}
